* {
  margin: 0%;
  padding: 0px;
  color: #ffffff;
  font-weight: 200;
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0px;
  background-color: #121212;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* ------------------ header------------------ */
/* .header {
  background-color: #292929;
  position: sticky;
  margin-top: 0px;
  top: 0;
  padding: 0;
  z-index: 100;
}

.header-wrapper {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  position: relative;
}

.main-title {
  padding: 20px 40px 0 0;
  font-size: 20px;
  width: 30%;
}
.main-title a {
  font-weight: 200;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.nav {
  background: #121212;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 20px 0;
}
.nav-item {
  display: inline-block;
  padding: 0 30px;
  font-size: 18px;
} */

.header {
  background-color: #292929;
  position: sticky;
  margin-top: 0px;
  top: 0;
  padding: 0;
  z-index: 100;
}

.header-wrapper {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  position: relative;
}
.main-title {
  padding: 20px 40px 0 0;
  font-size: 20px;
  width: 30%;
}
.main-title a {
  font-weight: 200;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.nav {
  background: #121212;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 20px 0;
}
.nav-item {
  display: inline-block;
  padding: 0 30px;
  font-size: 18px;
}

.mobile-menu-close-btn {
  display: none;
}

.mobile-menu-btn {
  display: none;
}
@media only screen and (max-width: 750px) {
  .header-wrapper {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 480px) {
  .mobile-menu-btn {
    display: block;
    position: sticky;
    top: 0;
    right: 0;
    margin: auto 0px;
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    /* height: 4rem; */
  }
  .header-wrapper {
    justify-content: space-between;
  }
  .main-title {
    padding: 20px 0px;
    width: 40%;
  }

  .nav-container {
    /* display: none; */
    width: 0;
    opacity: 0;

    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #292929;
    padding: 1em;
    z-index: 999;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }

  .menu-close {
    transition: all 0.5s;
  }

  .menu-open {
    /* display: flex; */
    transition: all 0.5s;
    width: 45%;
    opacity: 100;
  }

  .nav {
    flex-direction: column;
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 5em;
    background: none;
  }
  .nav-item {
    width: 100%;
    padding: 1em;
  }
  .nav-item a {
    display: block;
    width: 100%;
    text-align: right;
  }
  .mobile-menu-close-btn {
    display: none;
    margin: 0 1em;
    z-index: 999;
    width: 1.3rem;
    height: 1.7rem;
    cursor: pointer;
  }
  .close-btn-open {
    display: block;
  }
}
/* ------------------ header-end------------------ */
/* -- wrapper-- */
.wrapper {
  width: 90%;
  max-width: 900px;
  margin: auto;
}
/* -- main info-- */

.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  margin: 0 auto;
}

.hidden {
  display: none;
}
/* 
@media only scereen and (max-widht: 480px) {
  .main-info {
  }
} */
@media only screen and (max-width: 480px) {
  .main-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }
}

.main-titles {
  margin-right: 50px;
  /* display: flex; */
  order: 1;
}

@media only screen and (max-width: 480px) {
  .main-titles {
    margin: auto;
    padding-right: 0;
    padding-bottom: 40px;
    text-align: center;
  }
}

.name-title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 30px;
}
.main-titles h2 {
  font-weight: 200;
}

.bio {
  font-weight: 200px !important;
}

.main-info img {
  width: 250px;
  height: 250px;
  order: 2;
  border-radius: 50%;
  padding: 10px;
}

/*  --- DIVIDER --- */
.divider {
  background-color: #292929;
  margin: 40px 0;
}

.divider-wrapper {
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-left-element {
  width: 85%;
}

@media only screen and (max-width: 480px) {
  .divider-left-element {
    width: 25%;
  }
}

.divider-title {
  padding: 10px 20px;
  width: 35%;
  background-color: #121212;
  text-align: center;
  min-width: 130px;
  font-weight: bold;
  font-size: 26px;
}

@media only screen and (max-width: 480px) {
  .divider-title {
    width: 50%;
    min-width: 200px;
  }
}

.divider-right-element {
  width: 20%;
}

@media only screen and (max-width: 480px) {
  .divider-right-element {
    width: 25%;
  }
}

/* ---about--- */

.social-item-image {
  width: 22px;
  margin-right: 10px;
}

.about {
  display: flex;
  /* align-content: space-between; */
  /* align-items: stretch; */
  justify-content: center;
  padding: 100px 0;
  height: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}

.text {
  margin-right: 70px;
  /* font-size: 22px; */
}

@media only screen and (max-width: 480px) {
  .text {
    text-align: center;
    margin: 0 auto 20px auto;
  }
  .social-item-link {
    justify-content: space-between;
  }
}

.social-items {
  display: flex;
  flex-direction: column;
}
.text-pargraph {
  margin-bottom: 15px;
  font-size: 18px;
}

.social-item-link {
  display: flex;
  padding-bottom: 15px;
  /* text-align: center; */
}

/* ---projects--- */

.projects {
  position: relative;
}
.project {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #292929;
  /* align-content: center; */
}
.project-description {
  margin-top: 15px;
}
.projects a {
  font-size: 24px;
  font-weight: bold;
}
.projects p {
  font-size: 17px;
}
.project-image {
  margin-top: -40px;
  width: 90%;
}

@media only screen and (max-width: 480px) {
  .project-image {
    margin-top: -5px;
  }
  .project {
    text-align: center;
    /* justify-content: center; */
    align-items: center;
  }
}
